doctype html


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login</title>
</head>
<header>
    <div class="nav-bar">
        <a href="/" class="nav-button">Home</a>
        <a href="/register" class="nav-button">Register</a>
    </div>
</header> 
<body>
    <div class = "posts">
    <h1>Create a Post</h1>
        <form action="/api/posts/submitFeedPost" method="POST" enctype='multipart/form-data'>
        <div>
           <label for='title'>Title</label>
            <input type="text" id="title" name="title" required>
        </div>
        <br>
        <div>
           <label for='body'>Body</label>
            <textarea type="text" id="body" name="body" rows="4" cols="5" required>
            </textarea>
        </div>
        <div>
            <input type='file' id='image' name= 'image' accept='image/*' multiple>
        </div>
        <button type="submit">Post</button>
        </form>
    <br>
    </div>
    <div>
        h2 Recent Posts 
        ul 
            if posts && posts.length
                each post in posts 
                    li 
                        strong= post.title 
                        br
                        | #{post.body}
                        br
                        if post.images && post.images.length 
                            <div>
                                each image in post.images
                                    img(src=image width="100")
                        small= 'Posted on: ' + new Date(post.created_at).toLocaleString()
            else
                li No posts available.
    </div>
    <footer>
    </footer>
</body>
</html>