doctype html 

html(lang=en)
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Forum Main Page
        
    header
        .nav-bar
    body 
        h1= title
        form(action="/api/forum/submitForumThread" method="POST")
            label(for='name') Thread Name
            input(type='text' id='name' name='name' required)
            br
            label(for='body') Text
            textarea(id='body' name='body' required)
            br
            button(type="submit") Submit
        each thread in threads
            a(href=`/forum/thread/threadId/${thread.threadId}`)
                h2= thread.threadTitle