<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
    <div class="nav-bar">
        <a href="/" class="nav-button">Home</a>
        <a href="/login" class="nav-button">Login</a>
    </div>
</head>
<body>
    <div class = "register">
    <h1>Register</h1>
        <form action="/api/register" method="POST">
        <div>
            <label for='username'>Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for='email'>Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for='password'>Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for='firstName'>First Name</label>
            <input type="text" id="firstName" name="firstName" required>
        </div>
        <div>
            <label for='lastName'>Last Name</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>
        <br>
        <button type="submit">Submit</button>

    </form>
</div>
<footer>
</footer>
</body>
</html>